{% extends "base_generic.html" %}
{% load static %}
{% block content %}

{% load static bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

Seleziona il periodo di cui vuoi conoscere la programmazione ottimale delle attività di selezione
<br>
<br>

    <form action="{% url 'allapps:app1_result' %}" method="post">
        {% csrf_token %}
        <fieldset class="module aligned ">

            <div class="form-row field-horizon_LB">
                <div>
                    <label class="required" for="id_horizon_LB">&emsp;Inizio programmazione:</label>
                    <input type="date" name="horizon_LB" class="vDateField" size="10" required=""
                           id="id_horizon_LB"><span class="datetimeshortcuts">
                </div>
            </div>

            <div class="form-row field-horizon_UB">
                <div>
                    <label class="required" for="id_horizon_UB">&emsp;Fine programmazione  :</label>
                    <input type="date" name="horizon_UB" class="vDateField" size="10" required=""
                           id="id_horizon_UB"><span class="datetimeshortcuts">
                </div>
            </div>

        </fieldset>
        <br>
        <input type="submit" value="Cerca"
               name="Submit" id="frm_submit"/>

    </form>
    
    {% if App1_output_result_detail %}
        Stato di completamento :
        {% for state in App1_output_result_detail %}
            <font color="darkgreen"> {{ state.is_running }}</font><br>
        {% endfor %}
    {% endif %}
    <br>
    {% if App1_output_result %}
        Soluzione ottima:
                </br>
            <hr>
        <table  border="3" class="dataframe">
        <thead>
    <tr style="text-align: center;">
                <th>Data</th>
                <th>Turno</th>
                <th>1a selezione</th>
                <th>2a selezione</th>
                <th>operatori 1a sel.</th>
                <th>operatori 2a sel.</th>
                <th>Quantità 1a sel.</th>
                <th>Quantità 2a sel.</th>

            </tr>
    </thead>
    <tbody>
                {% for r in App1_output_result.table_data %}
                    <tr style="text-align: center;">
                        {% for data_point in r %}
                        <td> {{  data_point }} </td>
                        {% endfor  %}
                    </tr>

                {% endfor %}
</tbody>
                </table>

    {% endif %}


    {% if no_result %}
    Per il periodo selezionato non è stata ancora richiesta la programmazione delle attività di selezione.
        <br>
    Clicca qui se vuoi richiederne il calcolo:
        <br>
        <br>
     <form action="{% url 'allapps:app1' %}" method="get">

         <button type = "submit" id="myButton" class="float-left submit-button" > <font color="darkblue"> Schedulatore delle attività di selezione </font> </button>
    </form>
    {% endif %}

{% endblock %}