{% extends "base_generic.html" %}
{% load static %}
{% block content %}

{% load static bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

Seleziona il periodo di cui vuoi conoscere la programmazione ottimale delle attività di selezione
<br>
<br>

    <form action="{% url 'allapps:app1_result' %}" method="post">
        {% csrf_token %}
        <fieldset class="module aligned ">

            <div class="form-row field-horizon_LB">
                <div>
                    <label class="required" for="id_horizon_LB">&emsp;Inizio programmazione:</label>
                    <input type="date" name="horizon_LB" class="vDateField" size="10" required=""
                           id="id_horizon_LB"><span class="datetimeshortcuts">
                </div>
            </div>

            <div class="form-row field-horizon_UB">
                <div>
                    <label class="required" for="id_horizon_UB">&emsp;Fine programmazione  :</label>
                    <input type="date" name="horizon_UB" class="vDateField" size="10" required=""
                           id="id_horizon_UB"><span class="datetimeshortcuts">
                </div>
            </div>

        </fieldset>
        <br>
        <input type="submit" value="Cerca"
               name="Submit" id="frm_submit"/>

    </form>
    <br>
    {% if App1_output_result_detail %}
        Stato di completamento :
        {% for state in App1_output_result_detail %}
            <font color="darkgreen"> {{ state.is_running }}</font><br>
        {% endfor %}
    {% endif %}
    <br>
    {% if App1_output_result %}
        Soluzione ottima: <br>
        {% for results in App1_output_result %}
            {{ results.first_sorting|join:" " }}<br>
            {{ results.second_sorting|join:" " }}<br>
            {{ results.first_sort_operators|join:" " }}<br>
            {{ results.second_sort_operators|join:" " }}<br>
            {{ results.first_sort_amount|join:" " }}<br>
            {{ results.second_sort_amount|join:" " }}<br>
        {% endfor %}
    {% endif %}

    <br>

    {% if App1_output_result %}
        Soluzione ottima: <br>
        {% for results in App1_output_result %}
            <table border='1'>
                <tr>
                    <th style="text-align:center">Attivazione prima selezione</th>
                </tr>
                <tr>
                    <td align='center' valign='center'>
                        {{ results.first_sorting }}
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center">Attivazione seconda selezione</th>
                </tr>
                <tr>
                    <td align='center' valign='center'>
                        {{ results.second_sorting }}
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center">operatori prima selezione</th>
                </tr>
                <tr>
                    <td align='center' valign='center'>
                        {{ results.first_sort_operators }}
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center">operatori seconda selezione</th>
                </tr>
                <tr>
                    <td align='center' valign='center'>
                        {{ results.second_sort_operators }}
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center">Quantità prima selezione</th>
                </tr>
                <tr>
                    <td align='center' valign='center'>
                        {{ results.first_sort_amount }}
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center">Quantità seconda selezione</th>
                </tr>
                <tr>
                    <td align='center' valign='center'>
                        {{ results.second_sort_amount }}
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}


    {#{% load django_tables2 %}#}
    {#{% render_table table %}#}

{% endblock %}