{% extends "base_generic.html" %}

{% block content %}
{% load static bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript %}


<form action="{% url 'allapps:app1' %}" method="post">
    {% csrf_token %}
    <fieldset class="module aligned ">

            <div class="form-row field-horizon_LB">
                    <div>
                            <label class="required" for="id_horizon_LB">Inizio programmazione:</label>
                                <input type="date" value = "2020-09-21" name="horizon_LB" class="vDateField" size="10" required="" id="id_horizon_LB"><span class="datetimeshortcuts">
                    </div>
            </div>
        
            <div class="form-row field-horizon_UB">
                    <div>
                            <label class="required" for="id_horizon_UB">Fine programmazione:</label>
                                <input type="date" value = "2020-09-26" name="horizon_UB" class="vDateField" size="10" required="" id="id_horizon_UB"><span class="datetimeshortcuts">
                    </div>
            </div>
<!--
            <div class="form-row field-dailyshifts">
                    <div>
                            <label class="required" for="id_dailyshifts">Turni giornalieri:</label>
                                <input type="number" name="dailyshifts" value="2" class="vIntegerField" min="0" required="" id="id_dailyshifts">
                    </div>
            </div>
-->
            <div class="form-row field-shift_1_hours">
                    <div>
                            <label class="required" for="id_shift_1_hours">Ore 1°turno:</label>
                                <input type="number" name="shift_1_hours" value="6" class="vIntegerField" min="0" required="" id="id_shift_1_hours">
                    </div>
            </div>
        
            <div class="form-row field-shift_2_hours">
                    <div>
                            <label class="required" for="id_shift_2_hours">Ore 2°turno:</label>
                                <input type="number" name="shift_2_hours" value="3" class="vIntegerField" min="0" required="" id="id_shift_2_hours">
                    </div>
            </div>
<!--
            <div class="form-row field-shift_3_hours">
                    <div>
                            <label class="required" for="id_shift_3_hours">Ore 3°turno:</label>
                                <input type="number" name="shift_3_hours" value="0" class="vIntegerField" min="0" required="" id="id_shift_3_hours">
                    </div>
            </div>
 -->
            <div class="form-row field-operator_wage">
                    <div>
                            <label class="required" for="id_operator_wage">Costo operatore [€/h]:</label>
                                <input type="number" name="operator_wage" value="15" class="vIntegerField" min="0" required="" id="id_operator_wage">
                    </div>
            </div>
        
            <div class="form-row field-max_operators">
                    <div>
                            <label class="required" for="id_max_operators">Operatori disponibili:</label>
                                <input type="number" name="max_operators" value="8" class="vIntegerField" min="0" required="" id="id_max_operators">
                    </div>
            </div>
        
            <div class="form-row field-min_op_sort1">
                    <div>
                            <label class="required" for="id_min_op_sort1">Operatori minimi 1a selezione:</label>
                                <input type="number" name="min_op_sort1" value="3" class="vIntegerField" min="0" required="" id="id_min_op_sort1">
                    </div>
            </div>
        
            <div class="form-row field-min_op_sort2">
                    <div>
                            <label class="required" for="id_min_op_sort2">Operatori minimi 2a selezione:</label>
                                <input type="number" name="min_op_sort2" value="6" class="vIntegerField" min="0" required="" id="id_min_op_sort2">
                    </div>
            </div>
        
            <div class="form-row field-firstTO2nd_sort">
                    <div>
                            <label class="required" for="id_firstTO2nd_sort">% materiale destinato a 2a selezione</label>
                                <input type="number" name="firstTO2nd_sort" value="5" class="vIntegerField" min="0" required="" id="id_firstTO2nd_sort">
                    </div>
            </div>
        
            <div class="form-row field-setup_sort1">
                    <div>
                            <label class="required" for="id_setup_sort1">Costo attivazione 1a sel.[€]:</label>
                                <input type="number" name="setup_sort1" value="7" class="vIntegerField" required="" id="id_setup_sort1">
                    </div>
            </div>
        
            <div class="form-row field-setup_sort2">
                    <div>
                            <label class="required" for="id_setup_sort2">Costo attivazione 2a sel.[€]:</label>
                                <input type="number" name="setup_sort2" value="15" class="vIntegerField" required="" id="id_setup_sort2">
                    </div>
            </div>
        
            <div class="form-row field-overfill_treshold">
                    <div>
                            <label class="required" for="id_overfill_treshold">Soglia critica riempimento pizzale:</label>
                                <input type="number" name="overfill_treshold" value="50" class="vIntegerField" min="0" required="" id="id_overfill_treshold">
                    </div>
            </div>
        
            <div class="form-row field-finalstock_treshold">
                    <div>
                            <label class="required" for="id_finalstock_treshold">Massimo riempimento piazzali fine programmazione [%]:</label>
                                <input type="number" name="finalstock_treshold" value="10" class="vIntegerField" min="0" required="" id="id_finalstock_treshold">
                    </div>
            </div>
        
            <div class="form-row field-sort1_capacity">

                    <div>
                            <label class="required" for="id_sort1_capacity">Capacità produttiva 1a sel. [kg/h - operatore]</label>
                                <input type="number" name="sort1_capacity" value="260" class="vIntegerField" min="0" required="" id="id_sort1_capacity">
                    </div>
            </div>
        
            <div class="form-row field-sort2_capacity">
                    <div>
                            <label class="required" for="id_sort2_capacity">Capacità produttiva 2a sel. [kg/h - operatore]</label>
                                <input type="number" name="sort2_capacity" value="220" class="vIntegerField" min="0" required="" id="id_sort2_capacity">
                    </div>
            </div>
        
            <div class="form-row field-sort1_maxstock">
                    <div>
                            <label class="required" for="id_sort1_maxstock">Capacità piazzale [kg]:</label>
                                <input type="number" name="sort1_maxstock" value="60000" class="vIntegerField" min="0" required="" id="id_sort1_maxstock">
                    </div>
                
            </div>
        
            <div class="form-row field-sort2_maxstock">
                    <div>
                            <label class="required" for="id_sort2_maxstock">Capacità buffer 2a selezione [kg]:</label>
                                <input type="number" name="sort2_maxstock" value="10000" class="vIntegerField" min="0" required="" id="id_sort2_maxstock">
                    </div>
            </div>
        
    </fieldset>
    <input style="font-weight: bold"  id="btnGenera" type="submit" value="Genera programmazione ottimale"
     name="Submit" id="frm1_submit" />

</form>

<div id="lblWait"></div>

{% if scarichi_prev %}
    <div id="completato"> Stato del problema: <font color="darkgreen"> Completato </font><br></div>
    {% if optimal %}
    <font color="darkgreen"> Per conoscere i dettagli della soluzione trovata clicca sul pulsante <i> <b> risultati applicazione </b> </i> </font>
    {%endif%}
    <br>
{%endif%}


    <script>
    $("#btnGenera").click(function() {
        $("#completato").hide();
        $("#lblWait").html('Stato del problema: <font color="darkgreen">  In esecuzione </font>');
    })
    </script>

{% if no_result %}
<font color="darkred"> non sono previsti conferimenti per il periodo selezionato </font>

    <br>
    <br>
{%endif%}

{% if infeasible %}
<font color="darkred"> Il problema non ammette solouzione ammissibile </font>

    <br>
    <br>
{%endif%}

<br>
Se vuoi visualizzare la programmazione ottima calcolata, visita la pagina dei risultati:
<form action="{% url 'allapps:app1_result' %}" method="get">
<button style="font-weight: bold;" type = "submit" id="myButton"  class="float-left submit-button" > <font color="darkblue"> Risultati applicazione </font> </button>
</form>

{% endblock %}