{% extends "base_generic.html" %}

{% block content %}
{% load static bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript %}



Benvenuto nel modulo di programmazione delle attività di trasporto
<br>
Per un utilizzo corretto dell'applicazione assicurati di aver eseguito le seguenti operazioni:
<br>
    <br>
<ul>
<li>Aggiornare gli automezzi disponibili nella sezione admin</li>
<li>Inserire tutte le missioni previste per il giorno considerato</li>
<li>Attivare il server delle mappe openstreetmap </li>
</ul>



Seleziona ora il giorno per cui vuoi generare i percorsi ottimi delle missioni di recupero casse
<br>
<br>

<form action="{% url 'allapps:app2' %}" method="post">
    {% csrf_token %}
    <fieldset class="module aligned " >

            <div class="form-row field-date">
                    <div>
                            <label class="required" for="id_date">Data:</label>
                                <input type="date" name="date" value = "2020-08-30" class="vDateField" size="10" required="" id="id_date"><span class="datetimeshortcuts">
                    </div>
            </div>

            <div class="form-row field-time_cost">
                    <div>
                            <label class="required" for="id_time_cost">Costo orario:</label>
                                <input type="number" name="time_cost" value="15" class="vIntegerField" min="0" required="" id="id_time_cost">
                    </div>
            </div>

            <div class="form-row field-horizon_UB">
                    <div>
                            <label class="required" for="id_distance_cost">Costo al km:</label>
                                <input type="number" name="distance_cost" value="15" class="vIntegerField" min="0" required="" id="id_distance_cost">
                    </div>
            </div>
            <br>
            Seleziona il solutore da utilizzare per la soluzione del problema:
            <br>
            <br>
            <input type="radio" id="gurobi" name="solver" value="GRB" checked>
            <label for="male">Gurobi®</label><br>
            <input type="radio" id="mip" name="solver" value="CBC">
            <label for="female">Python-MIP</label><br>
            <input type="radio" id="euristica" name="solver" value="euristica">
            <label for="other">Euristica-IASI</label>
            <br>

    </fieldset>
    <br>
    <input type="submit"  id="btnGenera" value="Genera percorsi" style="font-weight: bold;"
     name="Submit" id="frm1_submit"  />

    <div id="lblWait"></div>


</form>




{% if model_running %}
    <div id="completato"> Stato del problema: <font color="darkgreen"> {{ model_running.is_running }}</font><br></div>
    <br>
    Per conoscere i dettagli delle programmazione logistica clicca qui:
    <form action="{% url 'allapps:app2_result' %}" method="get">
    <button type = "submit" id="myButton" style="font-weight: bold;" class="float-left submit-button" > <font color="darkblue"> Instradamento ottimale </font> </button>
    </form>
    <br>
{%endif%}

<br>

{% if missioni_prev %}
    Missioni previste per la data selezionata: <br>
    {% for missione in missioni_prev %}
        {% if missione.case_number == 1 %}
            Ritiro di {{missione.case_number}} cassa presso {{missione.Client_origin}} da conferire a {{missione.Client_destination}}<br>
        {%endif%}
        {% if missione.case_number != 1 %}
            Ritiro di {{missione.case_number}} casse presso {{missione.Client_origin}} da conferire a {{missione.Client_destination}}<br>
        {%endif%}
    {%endfor%}
{%endif%}

{% if no_result %}
<font color="darkred"> Non sono previste missioni per la data selezionata. </font>

    <br>
    <br>
{%endif%}

<br>
<br>
Se vuoi visualizzare le rotte ottime calcolate, visita la pagina dei risultati:
<form action="{% url 'allapps:app2_result' %}" method="get">
<button style="font-weight: bold;" type = "submit" id="myButton"  class="float-left submit-button" > <font color="darkblue"> Risultati applicazione </font> </button>
</form>



    <script>
    $("#btnGenera").click(function() {
        $("#completato").hide();
        $("#lblWait").html('Stato del problema: <font color="darkgreen">  In esecuzione </font>');
    })



    </script>

{% endblock %}