{% extends "base_generic.html" %}
{% load static %}
{% block content %}

{% load static bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

    <style>

    td {
  text-align: center;
  vertical-align: middle;
}

    </style>
Seleziona il giorno di cui vuoi conoscere i percorsi ottimi delle missioni di trasporto
<br>
<br>

    <form action="{% url 'allapps:app2_result' %}" method="post">
        {% csrf_token %}
        <fieldset class="module aligned ">

            <div class="form-row field-date">
                <div>
                    <label class="required" for="id_date">&emsp;Data:</label>
                    <input type="date" name="date" class="vDateField" size="10" required=""
                           id="id_date"><span class="datetimeshortcuts">
                </div>
            </div>

        </fieldset>
        <br>
        <input type="submit" value="Cerca"
               name="Submit" id="frm_submit"/>

    </form>

    <br>

    {% if App2_output_result_detail %}
        Stato di completamento : <font color="darkgreen"> {{ App2_output_result_detail.is_running }}</font><br>
    {% endif %}

    <br>
    {% if App2_output_result %}
        Soluzione ottima: <br>
        {% for result in App2_output_result %}
            <hr>
            Automezzo: <b> {{ result.truck}} </b>
            {% if result.truck_is_used == False %}
            <font color="darkred">  Non è necessario utilizzare questo automezzo </font><br>
            {%endif%}


            {% if result.truck_is_used == True %}
            <font color="darkblue"> Rotta ottima: </font>
                </br>
                </br>
        <table border="3" class="dataframe">
        <thead>
    <tr style="text-align: center;">
                <th>Ordine di visita</th>
                <th>Nome Destinazione</th>
                <th>Latitudine</th>
                <th>Longitudine</th>
                <th>Carico/Scarico</th>
                <th>Orario di arrivo</th>
                <th>Orario di partenza</th>
                <th>Carico alla partenza</th>

            </tr>
    </thead>
    <tbody>
                {% for r in result.table_data %}
                    <tr>
                        {% for data_point in r %}
                        <td> {{  data_point }} </td>
                        {% endfor  %}
                    </tr>

                {% endfor %}

</tbody>
                </table>
            {%endif%}
        {% endfor %}
    {% endif %}
    <br>

{% endblock %}