{% extends "base_generic.html" %}

{% block content %}
{% load static bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

Conosci le persone coinvolte nel progetto REMIND ed i loro contatti:
<br>
    <br>
<li> <b> Giuseppe Stecca </b> <i> - IASI-CNR Via dei Taurini 19, Roma, 00185 <font color="#1e90ff"> giuseppe.stecca@iasi.cnr.it </font>  </i>
<br>
    Giuseppe Stecca è ricercatore presso l’Istituto di Analisi dei Sistemi ed Informatica “A. Ruberti” del CNR (CNR - IASI).
    Giuseppe è docente di Supply Chain Management presso la facoltà di Ingegneria,  Università di Roma “Tor Vergata”
    dove insegna Ricerca Operativa nella facoltà di Informatica; è visiting professor in Operations Research
    all’Università di Kobe, Giappone. E’ membro nel direttivo dell’Associazione Italiana di Ricerca Operativa (AIRO).
    I suoi interessi di ricerca sono relative all’ottimizzazione sostenibile nel campo della logistica e della produzione.
    Giuseppe lavora attivamente su progetti di ricerca ed è valutatore per il Ministero dello Sviluppo Economico
    e per la Regione Toscana nelle aree di logistica e  Industry 4.0.
</li>
<li> <b> Diego Maria Pinto </b> <i> - IASI-CNR Via dei Taurini 19, Roma, 00185 <font color="#1e90ff"> diegomaria.pinto@iasi.cnr.it </font> </i>
<br>
    Diego Maria Pinto è assegnista di ricerca presso l’Istituto di Analisi dei Sistemi ed Informatica “A. Ruberti” del CNR (CNR - IASI)
    e dottorando in Ricerca Operativa presso l’Università di Roma “La Sapienza”.
    Ha conseguito la laurea magistrale in ingegneria gestionale con lode presso la stessa università
    e ha svolto un periodo di studio all’estero presso École Polytechnique di Parigi. Le sue attività di ricerca riguardano
    modelli di ottimizzazione e machine learning per applicazioni nell’industria manifatturiera,
    nel settore della logistica, della finanza, dell’economia circolare e dell’agroindustria.
</li>




{% endblock %}