{% load static bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_jquery %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block title %}<title>Remind Project</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>


<div id="billboard">
    <div class="copy-banner" style="background: #44B78B;text-align:center;padding: 1em 3em;">
        <div class="container">
            <h1>REMIND - Reverse Manufacturing INnovation Decision system</h1>
        </div>
    </div>
</div>


<div class="container-fluid" style="padding: 4em 3em;">
    <div class="row">
        <div class="col-sm-2">
            {% block sidebar %}
                <ul class="sidebar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    <li><a href="{% url 'allapps:app1' %}">Waste Selection Planner</a></li>
                    <li><a href="{% url 'allapps:app2' %}">Route Planner</a></li>
                    <li><a href="">Profitability (on work)</a></li>
                </ul>
            {% endblock %}
        </div>
        <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
</div>
</body>
</html>

